@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Quadratic Equation Tool";
}
<div class="text-center">
    <h1 class="display-5">Quadratic Equation Tool</h1>
    <p class="equation">Solving @ViewBag.Equation</p>
    <div class="@ViewBag.Style">
        <p>@ViewBag.Message</p>
    </div>
</div>
