@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Draw";
}
<div class="text-center">
    <h1 class="display-5">Draw Number</h1>
    <p>Start Guessing At Address /Guess,{YourGuess}</p>
</div>
